#body {
	position: relative;
	/*display: inline-block;*/
	padding: 1px 1px;
	/*float: left;*/
}
#tool {
	float: left;
	display: inline-block;
	margin-left: 5px;
	margin-top: 11px;
	width: 135px;
}
#list {
	border: 1px solid gray;
	height: auto;
	margin-top: 5px;
	font-size: 11px;
	padding: 2px 2px;
	padding-bottom: 4px;
}
#list table {
	border-spacing: 0;
}
#list table * {
	line-height: 1em;
}
#list td {
	padding: 0;
	padding-top: 2px;
}
#list td > div.i {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 16px;
	overflow: hidden;
	margin-left: 1px;
	margin-right: 1px;
}
#list td > div.i > img {
	position: absolute;
	left: 0;
	top: -2px;
	width: 20px;
}
#list td > span.t {
	display: inline-block;
	width: calc(100% - 10px);
	border: 1px solid gray;
	margin-left: 2px;
	padding-left: 3px;
	cursor:pointer;
	line-height: 16px;
}
#list td > span.c {
	display: inline-block;
	width: 20px;
	height: 14px;
	border: 1px solid gray;
	margin-left: 2px;
	vertical-align: middle;
}
#_front, #_back, #_right {
	position: relative;
	display: inline-block;
	border-bottom: 1px solid #00000000;
	cursor: pointer;
	margin-top: 2px;
	z-index: 2;
}
#_front {
	margin-left: 5px;
	border-color: gray;
}
#_right {
	text-align: right;
	position: absolute;
	right: 5px;
}
#front, #back {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 1;
}
#fronti,
#backi {
	margin: 0;
	padding: 0;
	border: 1px solid gray;
}
#back {
	display: none;
}
#front canvas,
#back  canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#sel {
	display: inline-block;
}
#sel span {
	display: inline-block;
	cursor: pointer;
	border-bottom: 1px solid gray;
	margin-top: 1px;
}

#tabs {
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}
#logs {
	margin-top: 0px;
	border: 0;
	width: calc(100% - 10px);
	height: calc(100% - 30px);
	position: absolute;
	bottom: 5px;
	right: 5px;
	z-index: 2;
}
#log {
	width: auto;
	text-align: right;
	right: 0;
	left: auto;
	color: black;
}
#que {
	width: auto;
	text-align: right;
	bottom: 0;
	top: auto;
}

#keyt span {
	margin-left: 10px;
	margin-right: 0px;
}

#keys {
	position: absolute;
	top: 20px;
	left: 0;
	border:0;
	display: none;
}
#plaing {
 	top: 2px;
	right: 2px;
}
#key2 {
	width: 325px;
}
.key {
	width: 42px;
	height: 40px;
}
.key1 {
	margin-left: 22px;
}
.key3 .key {
	width: 36px;
	height: 34px;
}
#play {
	width: calc(100% - 15px);
	margin-left: 10px;
}

