* {
	user-select: none;
}
body {
	padding: 5px;
	margin: 0px;
	/*font-family: "Meiryo UI";*/
	font-size: 14px;
}
#body {
	position: absolute;
	left: 5px;
	top: 5px;
	width: calc(100% - 25px);
	height: calc(100% - 30px);
	display: block;
}
#connect {
	cursor: pointer;
	border-bottom: 1px solid gray;
	padding: 0px 2px;
}
#disconnect {
	display: none;
	cursor: pointer;
	border-bottom: 1px solid gray;
	padding: 0px 2px;
}
#right {
	float:left;
	padding: 2px 5px;
	height: calc(100%);
	width: calc(100% - 225px);
}
#logs {
	margin-top: 10px;
	border: 1px solid gray;
	width: calc(100%);
	height: 480px;
	position: relative;
}
#log {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100%);
	height: calc(100%);
	font-size: 12px;
}
#que {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	color:gray;
	margin-top: 5px;
	margin-right: 5px;
}
#left,
#left2 {
	float:left;
	padding: 2px 5px;
	width: 202px;
	position: relative;
}
#left2 {
	display: none;
}
#sel {
	margin-top: 5px;
	font-size: 11px;
	position: relative;
}
#sel > div {
	display: inline-block;
	/*vertical-align:top;*/
}
#sel > div.l > span {
	display: inline-block;
	border-bottom: 1px solid gray;
	margin-bottom: 2px;
	margin-right: 4px;
	cursor: pointer;
}
#sel > div.r {
	position: absolute;
	right: 0;
}
#selc {
	display: inline-block;
	border: 1px solid gray;
	margin-right: 2px;
	width: 20px;
	height: 11px;
	vertical-align: top;
	margin-top: 3px;
}
#seli {
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 14px;
	width: 20px;
}
#seli > img {
	position: absolute;
	display: inline-block;
	top: -4px;
	width: 20px;
	height: 20px;
}

#tab {
	margin-top: 10px;
	border-bottom: 1px solid gray;
	position: relative;
	height:20px;
	width: 200px;
}
#tab > span {
	border: 1px solid gray;
	border-top-left-radius: 10px;
	height:19px;
	padding: 0 10px;
	display: inline-block;
	margin-right: 1px;
}
#tab1 {
	border-bottom-color: white;
}
#tabx {
	border: 1px solid gray;
	border-top: 0;
	position: relative;
	width: 198px;
	height: 193px;
}

